@model AdminPageVM
@{
    ViewBag.Title = "Admin Page";
}
<ol>
    
    @foreach (var item in Model.userVMs)
    {
        <li>
            @item.UserName @item.Email 
            <form asp-controller="Account" asp-action="ToggleAdmin" method="post">
                <input type="hidden" name="userId" value="@item.Id" />

                <input type="checkbox"
                       name="isAdmin"
                       value="true"
                @(item.IsAdmin ? "checked" : "")
                       onchange="this.form.submit()" />
            </form>
        </li>
        <p>IS ADMIN: @item.IsAdmin</p>
    }
    
</ol>

